* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.app {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.app > .screen {
    display: none;
}

.app > .screen.active {
    display: block;
    width: 100%;
    height: 100%;
}

.screen .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
}

.screen .form-input {
    width: 100%;
    margin: 20px 0;
}

.screen h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid #555;
    padding: 5px 0;
    display: inline-block;
}

.screen .form-input label {
    display: block;
    margin-bottom: 5px;
}

.screen .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}

.screen .form-input button {
    padding: 10px 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.chat-screen .header {
    background: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.chat-screen .header .logo {
    font-size: 18px;
    color: #eee;
    font-weight: 600;
}

.chat-screen .header button {
    padding: 5px 10px;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #eee;
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background: #f5f5f5;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.message.my-message {
    justify-content: flex-end;
}

.message.other-message {
    justify-content: flex-start;
}

.message .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message .profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
    color: #555;
}

.message .content {
    max-width: 70%;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
}

.message .content .name {
    font-size: 13px;
    font-weight: bold;
    color: #075e54;
}

.message .content .text {
    margin-top: 5px;
    font-size: 14px;
}

.message .content .timestamp {
    font-size: 12px;
    color: #777;
    text-align: right;
    margin-top: 5px;
}
.message.update{
    text-align: center; 
    margin-left: 200px;
    font-size: 14px;
    font-style: italic;
    color: #777; /* Subtle color to distinguish it */
    margin: 10px 0; /* Add some space above and below */
}

.chat-screen .typebox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ddd;
}

.chat-screen .typebox input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
}

.chat-screen .typebox button {
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}